<header [class]="'top-0 left-0 w-full py-3 bg-gradient-to-b from-fuchsia-800 to-blue-400 text-white'">
    <div [class]="classNames.container + ' flex items-center justify-between'">
        <div class="flex justify-start items-center gap-8 lg:gap-12">
            <a routerLink="" class="inline-flex">
                <img src="/logo/logo.png" class="w-12" alt="logo" />
            </a>
            <div class="flex justify-end items-center gap-6">
                <a routerLink="marketplace">
                    <span class="lg:hidden">
                        <i class="fa fa-box text-xl"></i>
                    </span>
                    <span class="max-lg:hidden">Marketplace</span>
                </a>
                <a routerLink="message">
                    <span class="lg:hidden">
                        <i class="fa fa-envelope text-xl"></i>
                    </span>
                    <span class="max-lg:hidden">Message</span>
                </a>
            </div>
        </div>
        <div class="flex justify-end items-center gap-6">
            <!-- USER LOGGED OUT -->
            <ng-container *ngIf="!isAuthenticated()">
                <a routerLink="login">
                    Login
                </a>
                <a routerLink="register">
                    Register
                </a>
            </ng-container>
            <!-- USER LOGGED IN -->
            <ng-container *ngIf="isAuthenticated()">
                <div class="flex justify-end items-center gap-4 lg:gap-6 text-xl">
                    <button><i class="fa fa-search"></i></button>
                    <button><i class="fa fa-question"></i></button>
                    <button><i class="fa fa-bell"></i></button>
                    <button><i class="fa fa-bucket"></i></button>
                </div>
                <div class="relative flex-shrink-0" tabindex="1" (blur)="handleBlur()">
                    <span class="relative cursor-pointer" (click)="toggle = !toggle">
                        <img src="/images/avatar/1.jpg"
                            class="w-10 object-cover object-center aspect-square rounded-full flex-shrink-0"
                            alt="avatar" />
                    </span>
                    <div *ngIf="toggle"
                        class="absolute right-0 top-full w-52 py-4 rounded-lg shadow bg-gradient-to-b from-fuchsia-300 to-white space-y-2 before:border-8 before:border-x-transparent before:border-t-transparent before:absolute before:bottom-full before:right-3 before:border-b-fuchsia-300 mt-2">
                        <div class="flex justify-start items-center gap-3 px-3">
                            <span>
                                <img src="/images/avatar/1.jpg"
                                    class="w-10 rounded-full aspect-square flex-shrink-0 object-cover object-center" />
                            </span>
                            <div>
                                <div class="text-gray-500">Dream Panda</div>
                                <div>Vladyslav</div>
                            </div>
                        </div>
                        <div class="border-t border-fuchsia-200 text-gray-500">
                            <a *ngFor="let item of accountConfig" [routerLink]="'/account/' + item.path"
                                class="flex justify-start items-center gap-2 px-3 py-2 hover:bg-fuchsia-200 hover:text-white">
                                <i [class]="item.icon + ' w-5'"></i> {{ item.title }}
                            </a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</header>