<footer class="py-10 pb-5 text-gray-400">
    <div [class]="classNames.container">
        <div class="flex max-lg:flex-col justify-center lg:justify-between items-center gap-4">
            <p>
                © {{ date.getFullYear() }} MEDIABAZZAR. All Rights Reserved.
            </p>
            <div class="flex justify-end items-center gap-4">
                <a class="hover:text-fuchsia-500" routerLink="terms-policy">Terms & Policy</a>
                <a class="hover:text-fuchsia-500" routerLink="privacy-policy">Privacy & Policy</a>
                <a class="hover:text-fuchsia-500" routerLink="faq">FAQ</a>
            </div>
        </div>
    </div>
</footer>