<ul class="flex justify-center items-center gap-2">
    <li [class]="classNames.btn + ' w-8 h-8 aspect-square'"><i class="fa fa-angle-left"></i></li>
    <li [class]="classNames.btn + ' w-8 h-8 aspect-square'">1</li>
    <li [class]="classNames.btn + ' w-8 h-8 aspect-square'">2</li>
    <li [class]="classNames.btn + ' w-8 h-8 aspect-square'">3</li>
    <li [class]="classNames.btn + ' w-8 h-8 aspect-square'">4</li>
    <li [class]="classNames.btn + ' w-8 h-8 aspect-square'">5</li>
    <li [class]="classNames.btn + ' w-8 h-8 aspect-square'"><i class="fa fa-angle-right"></i></li>
</ul>